html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

body>img {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    object-fit: cover;
    margin-bottom: 20px;
}

.input-container {
    text-align: center;
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

.input-container label {
    font-size: 1.4rem;
    padding-bottom: 20px;
    display: inline-block;
}

input[type="text"] {
    padding: 10px;
    font-family: inherit;
    width: 82%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.3rem;
    color: #525252;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    text-align: center;
}

input[type="text"]::placeholder {
    color: #525252;
}

input[type="text"]:placeholder-shown {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
}

input[type="text"]:focus {
    /* display: block; */
    transition: 0.2s;
    color: #0056b3;
    transition: border-color 0.2s;
    border-bottom: 2px solid #b30077;
}

.output {
    margin-top: 20px;
    font-style: italic;
}

.tips-container {
    margin-top: 20px;
    width: 100%;
    max-width: 600px;
}

.tips {
    margin-top: 40px;
    padding: 0 1rem;
}

.roteiro-gerado {
    width: 100%;
    max-width: 600px;
}

.reiniciar {
    padding-top: 30px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: 1px dashed #999;
}

.botao-reiniciar {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botao-reiniciar:hover {
    background-color: #0056b3;
}

footer {
    width: 20rem;
    text-align: center;
    margin-top: auto;
    padding-bottom: 30px;
}

footer>hr {
    margin-bottom: 20px;
    margin-top: 20px;
    color: #999;
}